In [1]:
import numpy as np
import pandas as pd

In [5]:
matrix = np.reshape((50.3, 60.6, 71.5, 59.1, 82.3, 50.9, 79.3, 41.4, 80.9, 72.1,
54.4, 52.4, 67.1, 78.3, 59.2, 65.1, 86.3, 81.3, 57.3, 61.3), (2,10))
row_names = ['Women', 'Men']
col_names = ['Aveiro', 'Braga', 'Porto', 'Viseu', 'Coimbra', 'Covilhã', 'Leiria', 'Lisboa', 'Setúbal', 'Faro']
df = pd.DataFrame(data=matrix, index=row_names, columns=col_names)
df

,Aveiro,Braga,Porto,Viseu,Coimbra,Covilhã,Leiria,Lisboa,Setúbal,Faro
Women,50.3,60.6,71.5,59.1,82.3,50.9,79.3,41.4,80.9,72.1
Men,54.4,52.4,67.1,78.3,59.2,65.1,86.3,81.3,57.3,61.3